@import 'App.scss';

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
}

.blue-squere {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  width: 300px;
  height: 300px;
}
